<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Latihan Spring Boot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="/js/product.js"></script>
    <link href=
                  "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/jquery.dataTables.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 align="center">Products Table</h1>
    <p><a class="btn btn-primary" href="/product/new">Add Product</a></p>
    <table class="display" id="productsTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Product ID</th>
            <th>Version</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>