<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Latihan Spring Boot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="/js/product.js"></script>
    <link href=
                  "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/jquery.dataTables.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 align="center">Products Table</h1>
    <p><a class="btn btn-primary" href="/products/new">Add Product</a>
        <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" id="bulk" name="bulk"
                onclick="deleteAllRecords();" type="button"> Delete
        </button>
        <button class="btn btn-info btn-sm glyphicon glyphicon-floppy-disk" id="bulkSave" name="bulkSave"
                onclick="saveAllRecords();" type="button"> Bulk Save
        </button>
        <button class="btn btn-primary btn-sm glyphicon glyphicon-send" id="myButton" type="button"> Get Data</button>
    <div id="contentHolder"></div>
    </p>
    <table class="display" id="productsTable">
        <thead>
        <tr>
            <th width="3%"><input class="checkAll" id="checkAll" name="checkAll" onclick="checkAll()" type="checkbox"/>
            </th>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Product ID</th>
            <th>Version</th>
            <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iter : ${products}">
            <td>
                <input class="bulk" id="bulk_${product.id }" name="bulk"
                       th:value="${product.id}" type="checkbox"/>&nbsp;
            </td>
            <td th:text="${iter.index+1}">Id</td>
            <td class="products" key-id="productName" th:text="${product.name}">Product Name</td>
            <td class="products" key-id="productPrice" th:text="${product.price}">Product Price</td>
            <td th:text="${product.id}">Product ID</td>
            <td class="products" key-id="productVersion" th:text="${product.version}">Product Version</td>
            <td align="right">
                <a class="glyphicon glyphicon-pencil" th:href="@{/products/edit/{id}(id = ${product.id})}"
                   title="Edit"></a>&nbsp;
                <!--                <a th:onclick="deleterecord(${product.id})" class="glyphicon glyphicon-trash" title="Delete"></a>&nbsp;-->
                <a class="glyphicon glyphicon-trash" th:href="|@{/products/delete/{id}(id = ${product.id})}"
                   title="Delete"></a>&nbsp;
                <a class="glyphicon glyphicon-eye-open" th:href="@{/products/detail/{id}(id = ${product.id})}"
                   title="Detail"></a>&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    /**
     * Check all records
     */
    function checkAll() {
        var checked = $('input:checkbox[id^="bulk_"]');
        if ($('input.checkAll').is(':checked')) {
            if (checked.length > 0) {
                $('.bulk').each(function () {
                    this.checked = true;
                });
            }
        } else {
            if (checked.length > 0) {
                $('.bulk').each(function () {
                    this.checked = false;
                });
            }
        }
    }

    /**
     * bulk save records
     *
     * @returns {Boolean}
     */
    function deleteAllRecords() {
        var ids = $('input:checkbox:checked.bulk').map(function () {
            return this.value;
        }).get();

        if (ids.length == 0) {
            alert("Please select at least one record");
            return false;
        }

        var x = window.confirm("Are you sure to want to save these records?");
        if (x && (ids.length > 0)) {
            window.location = location.origin + "/products/bulkdelete/" + ids;
            console.log("You have selected " + ids);
        }
    }

    /**
     * bulk save records
     *
     * @returns {Boolean}
     */
    function saveAllRecords() {
        var ids = $('input:checkbox:checked.bulk').map(function () {
            return this.value;
        }).get();


        if (ids.length == 0) {
            alert("Please select at least one record");
            return false;
        }

        var x = window.confirm("Are you sure to want to save these records?");
        if (x && (ids.length > 0)) {
            // window.location = location.origin + "/products/bulkdelete/"+ids;

            console.log("You have selected " + ids);

        }
        var btnList = document.querySelectorAll('.products');

        // btnList.forEach(function(products) {
        //     console.log(products.getAttribute("key-id"))
        // })

        var productList = document.querySelectorAll('.products');
        var bulkSave = document.getElementById('bulkSave');

        bulkSave.onclick = function () {
            productList.forEach(function (products) {
                products.setAttribute('checked', true);
                console.log("Testing " + products.value)
            })
        }

    }

    /**
     * Save Bulk method 2
     * */
    $("#myButton").on("click", function (e) {
        e.preventDefault();
        var aData = [];
        aData[0] = $("#ddlSelectYear").val();
        $("#contentHolder").empty();
        var jsonData = JSON.stringify({aData: aData});
        $.ajax({
            type: "POST",
            url: "api/products",
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json", // dataType is json format
            success: OnSuccess,
            error: OnErrorCall
        });

        function OnSuccess(response) {
            var items = response.d;
            var fragment = "<ul>"
            $.each(items, function (index, val) {

                var ID = val.id;
                var productID = val.productId;
                var productName = val.name;
                var productPrice = val.price;
                var productVersion = val.version;
                fragment += "<li> " + ID + " :: " + productID + " :: " + productName + " - " + productPrice + "- " + productVersion + "</li>";
            });
            $("#contentHolder").append(fragment);
            console.log(response.d)
        }

        function OnErrorCall(response) {
            console.log(error);
        }
    });
    //*

</script>

</body>
</html>
